In [3]:
#texto
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sms

In [5]:
data_food=pd.read_excel("food.xlsx")

In [ ]:
data_food.head()

In [ ]:
data_food.tail()

In [12]:
x_food=data_food["income"]
y_food=data_food["food_exp"]

In [ ]:
plt.boxplot(x_food)
plt.show()

In [ ]:
plt.boxplot(y_food)
plt.show()

In [ ]:
plt.scatter(x=x_food, y=y_food)
plt.title("Gasto vs Ingreso")
plt.xlabel("Income")
plt.ylabel("Gasto en alimentación")
plt.grid()
plt.show()

In [17]:
#regresiones con statsmodel
X = sms.add_constant(x_food)

In [18]:
food_model=sms.OLS(y_food, X)

In [19]:
model_ajusted=food_model.fit()

In [22]:
print(model_ajusted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               food_exp   R-squared:                       0.385
Model:                            OLS   Adj. R-squared:                  0.369
Method:                 Least Squares   F-statistic:                     23.79
Date:                Tue, 15 Aug 2023   Prob (F-statistic):           1.95e-05
Time:                        02:30:07   Log-Likelihood:                -235.51
No. Observations:                  40   AIC:                             475.0
Df Residuals:                      38   BIC:                             478.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         83.4160     43.410      1.922      0.062      -4.463     171.295
income        10.2096      2.093      4.877      0.000       5.972      14.447
==============================================================================
Omnibus:                        0.277   Durbin-Watson:                   1.894
Prob(Omnibus):                  0.870   Jarque-Bera (JB):                0.063
Skew:                          -0.097   Prob(JB):                        0.969
Kurtosis:                       2.989   Cond. No.                         63.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
plt.scatter(x=x_food, y=y_food)
plt.plot(x_food, model_ajusted.fittedvalues, "red")
plt.title("Gasto vs Ingreso")
plt.xlabel("Income")
plt.ylabel("Gasto en alimentación")
plt.grid()
plt.show()

In [27]:
#Ciclos, Condicionales, Funciones
ciudades=["Bg", "Cl", "Ln", "Mi", "Ef", "Pt"]

In [ ]:
for i in ciudades:
  print(i)

In [32]:
for i in range(15):
  print(f"mi numero es {i} y su cuadrado es {i**2}")

mi numero es 0 y su cuadrado es 0
mi numero es 1 y su cuadrado es 1
mi numero es 2 y su cuadrado es 4
mi numero es 3 y su cuadrado es 9
mi numero es 4 y su cuadrado es 16
mi numero es 5 y su cuadrado es 25
mi numero es 6 y su cuadrado es 36
mi numero es 7 y su cuadrado es 49
mi numero es 8 y su cuadrado es 64
mi numero es 9 y su cuadrado es 81
mi numero es 10 y su cuadrado es 100
mi numero es 11 y su cuadrado es 121
mi numero es 12 y su cuadrado es 144
mi numero es 13 y su cuadrado es 169
mi numero es 14 y su cuadrado es 196

In [31]:
range?

In [33]:
x=10
if x%2==0:
  print(f'{x} es par')
else:
  print(f'{x} es impar')

10 es par

In [34]:
def mi_suma(a, b):
  return a+b
suma=mi_suma(4, -6)
print(suma)

-2

In [35]:
def es_par(x):
  if x%2==0:
    z=(f'{x} es par')
  else:
    z=(f'{x} es impar')
  return z

es_par(232)

'232 es par'

In [37]:
lista_numeros=[3,6,1,0,9,12,15,17]

In [38]:
for i in lista_numeros:
  print(es_par(i))

3 es impar
6 es par
1 es impar
0 es par
9 es impar
12 es par
15 es impar
17 es impar

**Mi nombre es: David Felipe Zabala Castañeda**